h1{color:purple;
font-size: 1.5em;

}
.color-purple{color:brown ;
}
.purple-color{color: purple;}
body {font-family:sans-serif;
color:#777777 ;
line-height:26px ;
 color: #777777;
 }
 .half-width{
 width:50%;
 float:left;
 }
 .btn{color: white;
 background-color:#8854f4;
 margin-bottom: 10px 20px 10px 20px;
 padding:10px 20px 10px 20px ;
 border-radius: 10px;
 text-decoration:none; }
 .side-img{
 width: 50%;
 padding-left:25px}
 .container{padding-left:5px;
 display:inline-block ;
 }
 .experience{padding:30px ;
 margin: 30px;
 background-color:rgb(238,251,255)
 border-radius:20px;
 }
 .experience-item{
 padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2);
 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 